/*css*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../IMG/Mandalas/prototipos/Mandala_1/fondo_mnadala.jpg);
    background-color: #f8f8f6;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: 24%;
    font-family: 'Dosis', sans-serif;
    font-family: 'Patrick Hand', cursive;
    background-color: #fdda3e;
    /* :#fef14a; */
}

.fondo {
    margin: 0;
    width: 3%;
    height: 47%;
    top: 2%;
    position: absolute;
    left: 37%;
    padding: 10%;
    border: #ffef5b 20px solid;
}

.color1,
.color2,
.color3,
.color4,
.color5 {
    width: 4.3%;
    position: absolute;
    top: 73.7%;
    /* margin:3px; */
    left: 56.67%;
    /* background-color: yellow; */
}

.color5 {
    width: 4.5%;
    margin-left: -17.83%;
    top: 73.7%;
}

.color4 {
    width: 4%;
    margin-left: -12.99%;
    top: 74.58%;
}

.color3 {
    width: 4%;
    margin-left: -8.7%;
    top: 74.3%;
}

.color2 {
    width: 4%;
    margin-left: -3.99%;
    top: 74.5%;
    /* z-index: 1; */
}

.color1 {
    width: 3.7%;
    margin-left: 0.25%;
    top: 74.3%;
    /* z-index: 1; */
}

.icon1 {
    position: absolute;
    width: 4.3%;
    left: 47.8%;
    top: 84%;
}

.icon2 {
    position: absolute;
    width: 4%;
    left: 52.8%;
    top: 84.3%;
}

.icon3 {
    position: absolute;
    width: 4%;
    left: 57%;
    top: 84.5%;
}

.icon4 {
    position: absolute;
    width: 4%;
    left: 44%;
    top: 84.2%;
}

.icon5 {
    position: absolute;
    width: 4.6%;
    left: 39%;
    top: 82.8%;
}

.mandala {
    width: 24%;
    position: absolute;
    top: 21%;
    left: 38%;
}

.boton1{
    width: 5%;
    left: 38%;
    top: 5%;
    position: absolute;
    position: fixed;
    background-color: transparent;
    border: none;
    z-index: 30;
}