@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
.limpiar{
	clear: both;
}

body {
    font-family: 'open sans';
    background: url(../IMG/Fondo.jpg);
    background-color: #f8f8f6;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: 29%;
    background-color: rgb(114, 209, 114);
}


#close-image img {
    width: 100px;
    left: 10px;
    bottom: 50px;

}
#image img {
    width: 100px;
    left: 10px;
    bottom: 40px;

}

#barra{
    /* border:red 2px solid ;  */
    position: fixed;
    height:70%;
    left: 35.3%;
    width: 400px;
    top:37%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


